.App-post {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.post-title {
  font-weight: bold;
}

.post-fav .post-title {
  background-color: #bfffea;
}

.post-body {
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
}

.post-button {
  margin-right: 0.5rem;
}
